<!-- Project theme 2 -->
<a style="min-width:20px;" class="card"
   href="{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}">
  {% if include.page.image %}
  <div class="ui image">
    <div class="ui dimmer">
    <div class="ui inverted header">
      <div class="content">
        <div class="center">
          <span class="project-title">
            {{ include.page.title }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <img class = "ui image"src="{{ site.baseurl }}/{{ include.page.image }}">
  </div>
  {% endif %}
  <!-- <div class="content">
    <span class="header">{{ include.page.title }}</span>
    <div class="meta">
      <span class="date">{{ include.page.date }}</span>
    </div>

    <div class="description">
      {{ include.page.summary }}
    </div>
  </div>
  <div class="extra content">
    <div class="ui mini labels">
      {% for label in include.page.labels %}
      <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div> -->
</a>

<script>
$('.card').dimmer({
  on: 'hover';
  if (window.console) console.log('foo');
});)
</script>
