<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: en }}">

{% include head.html %}

<body>
{% include sidebar.html %}
{% include header.html %}

<div class="sidebar-topnav-mobile blog-theme-3"></div>
<!-- Wrap is the content to shift when toggling the sidebar. We content-cover the
     content to avoid any CSS collisions with our real content. -->
<div class="content-cover">

    <div style="margin-top: 85px;" class="ui text container">
        <div style="margin-left:10px;text-align:center">
          <h1>{{ page.title }}</h1>
          <hr />
        </div>
      </div>

  <div class="cd-container">
    <!-- DONT TOUCH THESE VALUES FOR MOBILE -->
    <div class="blog-mobile-screen all-blogs">
      <div style="margin-top:80px;" class="ui centered list">

          <div style="margin-top: 85px;" class="ui text container">
              <div style="margin-left:10px;text-align:center;font-size:20px">
                <h1>2019</h1>
                <hr />
              </div>
            </div>

        {% assign blog_pages = site.pages | where: "type", "blog" | where: "year", "2019" | sort: "date" | reverse %}
        {% for page in blog_pages %}
        {% unless page.draft %}
        {% include blog-card-1.html page=page %}
        {% endunless %}
        {% endfor %}


        <div style="margin-top: 85px;" class="ui text container">
            <div style="margin-left:10px;text-align:center">
              <h1>2018</h1>
              <hr />
            </div>
          </div>

        {% assign blog_pages2 = site.pages | where: "type", "blog" | where: "year", "2018" | sort: "date" | reverse %}
        {% for page in blog_pages2 %}
        {% unless page.draft %}
        {% include blog-card-1.html page=page %}
        {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- {% include footer.html %} -->
</div>
<!-- Controls back-to-top -->
<a href="#0" class="cd-top">Top</a>
<!-- End -->
<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<script src="../js/back-to-top/main.js"></script> <!-- Gem jQuery -->
<script src="../js/sidebar/sidebar.js"></script> <!-- Sidebar -->
</body>
</html>
<!-- Ensure page refreshes to top of page -->
<script>
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  }
</script>